*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  transition: .5s;
}
input{
  cursor: pointer;
}
body{
  background-size: 100% 400%;
  background-repeat: no-repeat;

}

.add{
  margin-left: 1260px;
  margin-top: 100px;
  display: flex;
  border: none;
  color: #06554D;
  font-size: 18px;
  font-weight: 600;
  background: none;
  cursor: pointer;
}


.add-user{
  margin: 0 auto;
  display: flex;
  width: 1200px;
  margin-top: 10%;
}

 .add-user div{
  display: block;
  align-items: center;
}
.add-user .photo{
  position: relative;
  height: 240px;
  margin-right: 30px;
  padding-top: 240px;
  background-color: rgba(161, 159, 159, 0.731);
}

.add-user .photo img{
  width: 262px;
  height: 240px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.add-user div input[name='name']{
  width: 672px;
  height: 44px;
}
.add-user div input[name='username']{
  width: 672px;
  height: 155px;
}
.add-user .butt{
  margin-top: 62px;
  margin-left: 100px;
  display: flex;
}
.add-user .butt input{
  width: 266px;
  height: 55px;
}

.add-user .butt .back input{
  border: 1px solid #06554D;

}
.add-user .butt .add-button input{
  margin-left: 29px;
  background-color: #06554D;
  color: white;
}



table {
  border-collapse: collapse;
  width: 1200px;
  margin: auto;
}


tr{
  background-color: #E8E8E8;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

td{
  text-align: left;
  padding: 20px;
}
td img{
  width:200px;
  height: 200px;
}
.name-user{
  width: 670px;
}
.name-user div{
  display: flex;
}
.name-user p{
  font-weight: 700;
  padding-right: 10px;
font-size: 14px;
color: black;
}
.but{
  width: 320px;
  height: 245px;
  text-align: center;
  padding-top: 200px;
}
.but a{
  cursor: pointer;
  margin-left: 20px;
}
.ViewUser button{
  width: 180px;
  height: 44px;
  background-color: #06554D;
  border: none;
  color: white;
  cursor: pointer;
}
.img-photo img{
  width: 262px;
  height: 240px;
  margin-right: 30px;
}









